<form method="post" >
  <div class="mb-3">
    <label for="inputsearch" class="form-label">Enter key word</label>
    <input type="text" class="form-control" id="inputsearch" name="key words">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>