<div class="mt-4">
    <div class="footer">
        <div class="footer_wrapper">
            <div class="footer_about">
                <h3 class="footer_title">About</h3>
                <span class="text-align:justify">
                    Vitra Vũ là công ty hàng đầu trong thời trang đời sống và công nghệ,
                    với chủ đạo màu xám. Chúng tôi tạo ra những sản phẩm trang nhã và tinh tế,
                    kết hợp phong cách hiện đại và màu sắc đa dạng. Bên cạnh đó, 
                    chúng tôi còn áp dụng công nghệ vào từng sản phẩm, mang lại sự tiện ích và hiện đại.
                    Cam kết sáng tạo, chất lượng và dịch vụ khách hàng tốt nhất,
                    Vitra Vũ mang đến sự thăng hoa cho cuộc sống và phong cách cá nhân của khách hàng.
                </span>
            </div>
            <div class="footer_cat">
                <h3 class="footer_title">Categories</h3>
                <h5>Fashion</h5>
                <h5>Devices</h5>
                <h5>Lifestyles</h5>
                <h5>Health</h5>
            </div>
                
            <div class="footer_links ">
                <h3 class="footer_title">Contact to us</h3>
                <h5><a href="/">twitter</a></h5>
                <h5><a href="/">instagram</a></h5>
                <h5><a href="/">facebook</a></h5>
                <h5><a href="/">linkedin</a></h5>
            </div>
   
        </div>

        <div class="copyRight">
            Copyright © 2023 All Fights Reserved by VitraVu.
        </div>
        
    </div>
</div>